<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.interswitchgroup.mobpayexample">

    <!--    <uses-permission android:name="com.interswitchgroup.mobpaylib.PAY_WITH_ISWUI" />-->
    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:name">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="interswitch-kenya-limited.mobpay.base_url"
            android:value="https://esb.interswitch-ke.com:18082/api/v1/" />
        <meta-data
            android:name="interswitch-kenya-limited.mobpay.mqtt_url"
            android:value="tcp://merchant.interswitch-ke.com:1883" />
        <meta-data
            android:name="interswitch-kenya-limited.mobpay.cardinal_url"
            android:value="https://merchant.interswitch-ke.com/sdkcardinal" />
        <meta-data
            android:name="interswitch-kenya-limited.mobpay.modulus"
            android:value="9c7b3ba621a26c4b02f48cfc07ef6ee0aed8e12b4bd11c5cc0abf80d5206be69e1891e60fc88e2d565e2fabe4d0cf630e318a6c721c3ded718d0c530cdf050387ad0a30a336899bbda877d0ec7c7c3ffe693988bfae0ffbab71b25468c7814924f022cb5fda36e0d2c30a7161fa1c6fb5fbd7d05adbef7e68d48f8b6c5f511827c4b1c5ed15b6f20555affc4d0857ef7ab2b5c18ba22bea5d3a79bd1834badb5878d8c7a4b19da20c1f62340b1f7fbf01d2f2e97c9714a9df376ac0ea58072b2b77aeb7872b54a89667519de44d0fc73540beeaec4cb778a45eebfbefe2d817a8a8319b2bc6d9fa714f5289ec7c0dbc43496d71cf2a642cb679b0fc4072fd2cf" />
        <meta-data
            android:name="interswitch-kenya-limited.mobpay.exponent"
            android:value="010001" />
    </application>

</manifest>