<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.interswitchgroup.mobpaylib">

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:name=".MyApplication">
        <activity
            android:name=".ui.MobPayActivity"
            android:label="@string/title_activity_mob_pay"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:process=":MobPayProcess"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>