<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.interswitchgroup.mobpaylib">

    <!-- Permissions required by paho mqtt sdk -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <permission
        android:name="com.interswitchgroup.mobpaylib.PAY_WITH_ISWUI"
        android:label="launch_payment_activity_permission"
        android:protectionLevel="dangerous" />
    <application>
        <activity
            android:name=".BrowserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MobPayActivity"
            android:label="@string/title_activity_mob_pay"
            android:permission="com.interswitchgroup.mobpaylib.PAY_WITH_ISWUI"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustNothing" />
    </application>

</manifest>
